@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif; }

body {
  background-color: #212529; }

.contenedor-grid {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

/*INICIO*/
header {
  grid-area: header; }
  header .color-nav {
    background-color: #212529; }
    header .color-nav li {
      transition: all .5s ease;
      margin: 0 20px; }
      header .color-nav li:hover {
        transform: scale(1.5); }
      header .color-nav li a:hover {
        text-decoration: underline #5efd01d0; }

@keyframes entrada {
  0% {
    transform: translateX(300vh); }
  100% {
    transform: translateX(0vh); } }
    header .color-nav .icono-nav img {
      animation-name: entrada;
      animation-duration: 2s;
      animation-iteration-count: 1; }

/*INICIO*/
main {
  grid-area: main;
  background-color: white; }
  main .imagen-principal {
    position: relative; }
    main .imagen-principal .contenido-imagen {
      width: 100%;
      max-width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      main .imagen-principal .contenido-imagen h3 {
        color: #fff;
        font-size: 5em;
        margin-top: 3.2em; }
      main .imagen-principal .contenido-imagen .link-instalaciones {
        margin-top: 4em; }
        main .imagen-principal .contenido-imagen .link-instalaciones a {
          border: solid #fff 1px;
          color: #fff;
          font-size: 1em;
          text-decoration: none;
          padding: 1em 1.7em 1em 1.7em;
          font-weight: 600;
          transition: 0.3s; }
          main .imagen-principal .contenido-imagen .link-instalaciones a:hover {
            background-color: #fff;
            color: #212529;
            text-decoration: underline; }
    main .imagen-principal img {
      width: 100%;
      max-width: 100%;
      height: 90vh; }
  main .secciones-secu-inicio {
    margin: 2.5em; }
    main .secciones-secu-inicio h1 {
      text-align: center;
      font-size: 3em;
      font-weight: 300;
      margin-bottom: 1em; }
    main .secciones-secu-inicio .imagenes-secundaria {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3em; }
      main .secciones-secu-inicio .imagenes-secundaria img {
        width: 100%;
        max-width: 100%;
        height: 400px;
        border-radius: 1em; }
      main .secciones-secu-inicio .imagenes-secundaria p {
        margin: 1em;
        text-align: center; }

/*INSTALACIONES*/
main .instalaciones-sector {
  margin: 2em 2em 4em 2em; }
  main .instalaciones-sector h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1em;
    font-size: 3em;
    font-weight: 300; }
  main .instalaciones-sector .card img {
    width: 100%;
    max-width: 100%;
    height: 300px; }

main .servicios-sector {
  margin: 2em 2em 4em 2em; }
  main .servicios-sector h2 {
    display: flex;
    justify-content: start;
    font-size: 1.8em;
    font-weight: 300; }
  main .servicios-sector .servicios-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em; }
    main .servicios-sector .servicios-contenedor p {
      display: grid;
      align-items: center;
      justify-content: flex-start;
      line-height: 1.8em; }
    main .servicios-sector .servicios-contenedor img {
      width: 100%;
      max-width: 100%;
      height: 250px;
      border-radius: 1em; }

/*TORNEOS*/
main .carousel-inner img {
  width: 100%;
  max-width: 100%;
  height: 84vh; }

main .info-sobre-torneo {
  margin: 2em 2em 4em 2em; }
  main .info-sobre-torneo h3 {
    display: flex;
    justify-content: center;
    margin: 2em;
    font-size: 2em;
    font-weight: 300; }

/*SOBRE NOSOTROS*/
main .encabezado-nosotros {
  margin: 2em 2em 4em 2em; }
  main .encabezado-nosotros h3 {
    display: flex;
    justify-content: start;
    font-size: 1.8em;
    font-weight: 300; }
  main .encabezado-nosotros .sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em; }
    main .encabezado-nosotros .sobre-nosotros ul {
      display: grid;
      align-items: center;
      justify-content: flex-start;
      line-height: 1.8em;
      list-style-position: inside; }
    main .encabezado-nosotros .sobre-nosotros img {
      width: 100%;
      max-width: 100%;
      height: 450px;
      border-radius: 1em; }
  main .encabezado-nosotros .mapa-nosotros {
    margin-top: 4em;
    border-top: #212529 solid 0.01em; }
    main .encabezado-nosotros .mapa-nosotros iframe {
      margin-top: 2em; }

/*CONTACTOS*/
main .encabezado-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 2em 1em 2em; }
  main .encabezado-forms h3 {
    text-align: center;
    font-weight: 300;
    font-size: 2em; }
  main .encabezado-forms p {
    text-align: center; }

main .contenedor-forms {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 2em; }
  main .contenedor-forms .contacto {
    color: black;
    width: 50%;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 black;
    margin: 30px; }
    main .contenedor-forms .contacto h4 {
      text-align: center;
      margin: 10px 0;
      font-weight: 400; }
    main .contenedor-forms .contacto .elementos-forms {
      margin: 45px; }
      main .contenedor-forms .contacto .elementos-forms input, main .contenedor-forms .contacto .elementos-forms textarea {
        color: black;
        font-size: 1em;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid black; }
    main .contenedor-forms .contacto .casillas {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    main .contenedor-forms .contacto .button-forms button {
      background-color: black;
      color: white;
      display: block;
      width: 150px;
      height: 40px;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      margin: 10px auto;
      cursor: pointer; }

/*Footers*/
footer .footers {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em; }
  footer .footers .horarios-footers {
    margin: 2em 2em 0 2em; }
    footer .footers .horarios-footers h5 {
      text-align: center;
      color: white; }
    footer .footers .horarios-footers ul {
      text-align: center;
      margin: 2.5em; }
    footer .footers .horarios-footers li {
      display: block;
      margin: 2.5em;
      color: white;
      font-size: 1em;
      font-weight: 300; }
  footer .footers .redes-footers {
    margin: 2em; }
    footer .footers .redes-footers h5 {
      color: white;
      text-align: center; }
    footer .footers .redes-footers img {
      width: 30px;
      height: 30px; }
    footer .footers .redes-footers ul {
      text-align: center;
      margin: 1.5em; }
    footer .footers .redes-footers li {
      display: block;
      transition: all .5s ease;
      margin: .5em; }
      footer .footers .redes-footers li:hover {
        transform: scale(1.5); }

footer p {
  text-align: center;
  font-size: 1em;
  font-weight: 200;
  color: white; }

@media screen and (max-width: 768px) {
  /*INICIO*/
  header .color-nav li:hover {
    transform: scale(0); }
  main .secciones-inicio .imagen-principal .contenido-imagen h3 {
    color: #fff;
    font-size: 5em;
    margin-top: 2.7em; }
  main .secciones-inicio .imagen-principal .contenido-imagen .link-instalaciones {
    margin-top: 4em; }
  main .secciones-inicio .imagen-principal .contenido-imagen img {
    height: 80vh; }
  main .secciones-secu-inicio h1 {
    font-size: 2.5em; }
  main .secciones-secu-inicio .imagenes-secundaria img {
    height: 350px; }
  main .secciones-secu-inicio .imagenes-secundaria p {
    margin: .7em; }
  /*Footers*/
  footer .footers {
    grid-gap: 1.7em; }
    footer .footers .horarios-footers ul {
      margin: 2em; }
    footer .footers .horarios-footers li {
      margin: 2em;
      font-size: .9em; }
  /*INSTALACIONES*/
  main .servicios-sector {
    margin: 1em; }
    main .servicios-sector h2 {
      justify-content: center; }
    main .servicios-sector .servicios-contenedor {
      display: flex;
      flex-direction: column;
      margin: 1em 1em 5em 1em;
      grid-gap: 0em; }
      main .servicios-sector .servicios-contenedor p {
        display: flex;
        text-align: center;
        line-height: 1.5em;
        margin: 1em; }
  /*TORNEOS*/
  main .carousel-inner img {
    height: 81vh; }
  main .info-sobre-torneo h3 {
    font-size: 1.8em; }
  /*SOBRE NOSOTROS*/
  main .encabezado-nosotros h3 {
    justify-content: center;
    font-size: 1.5em; }
  main .encabezado-nosotros .sobre-nosotros {
    display: flex;
    flex-direction: column;
    grid-gap: 2em; }
    main .encabezado-nosotros .sobre-nosotros ul {
      justify-content: flex-start;
      line-height: 1.5em; }
      main .encabezado-nosotros .sobre-nosotros ul li {
        margin: 1em;
        text-align: center; }
    main .encabezado-nosotros .sobre-nosotros img {
      height: 400px; }
  main .encabezado-nosotros .mapa-nosotros {
    margin-top: 3em; }
  /*CONTACTO*/
  main .contenedor-forms .contacto {
    width: 70%; } }

@media screen and (max-width: 425px) {
  main .secciones-inicio .imagen-principal .contenido-imagen h3 {
    font-size: 2em;
    margin-top: 4.5em; }
  main .secciones-inicio .imagen-principal .contenido-imagen .link-instalaciones {
    margin-top: 1.7em; }
    main .secciones-inicio .imagen-principal .contenido-imagen .link-instalaciones a {
      font-size: .7em;
      padding: 1em 1.5em 1em 1.5em;
      font-weight: 500; }
  main .secciones-inicio .imagen-principal img {
    height: 54vh; }
  main .secciones-secu-inicio {
    margin: 2em; }
    main .secciones-secu-inicio h1 {
      font-size: 2em;
      margin-bottom: .5em; }
    main .secciones-secu-inicio .imagenes-secundaria {
      display: flex;
      flex-flow: column;
      grid-gap: 1.5em; }
      main .secciones-secu-inicio .imagenes-secundaria img {
        height: 200px; }
      main .secciones-secu-inicio .imagenes-secundaria p {
        margin: 1em;
        font-size: 0.7em; }
  /*Footers*/
  footer .footers {
    grid-template-columns: none;
    grid-gap: 0em; }
    footer .footers .horarios-footers {
      margin: .5em 1em .5em 1em; }
      footer .footers .horarios-footers h5 {
        font-size: 1em; }
      footer .footers .horarios-footers ul {
        margin: 1em; }
      footer .footers .horarios-footers li {
        display: block;
        margin: 1em;
        color: white;
        font-size: 1em;
        font-weight: 300; }
    footer .footers .redes-footers {
      margin: .5em 1em .5em 1em; }
      footer .footers .redes-footers h5 {
        color: white;
        text-align: center; }
      footer .footers .redes-footers img {
        width: 30px;
        height: 30px; }
      footer .footers .redes-footers ul {
        text-align: center;
        margin: 1em; }
      footer .footers .redes-footers li {
        display: block;
        transition: all .5s ease;
        margin: 1em; }
        footer .footers .redes-footers li:hover {
          transform: scale(1.5); }
  footer p {
    text-align: center;
    font-size: .7em;
    font-weight: 200;
    color: white; }
  /*INSTALACIONES*/
  main .instalaciones-sector h2 {
    font-size: 2em; }
  main .instalaciones-sector .card img {
    height: 300px; }
  main .servicios-sector h2 {
    font-size: 1.8em; }
  main .servicios-sector .servicios-contenedor p {
    line-height: 1.5em; }
  /*TORNEOS*/
  main .carousel-inner img {
    height: 60vh; }
  main .info-sobre-torneo h3 {
    font-size: 1.8em;
    text-align: center; }
  /*SOBRE NOSOTROS*/
  main .encabezado-nosotros h3 {
    justify-content: center;
    font-size: 1.5em; }
  main .encabezado-nosotros .sobre-nosotros {
    grid-gap: 2em; }
    main .encabezado-nosotros .sobre-nosotros ul {
      justify-content: flex-start;
      line-height: 1.5em; }
      main .encabezado-nosotros .sobre-nosotros ul li {
        margin: .7em;
        text-align: center; }
    main .encabezado-nosotros .sobre-nosotros img {
      height: 300px; } }
