/*Footers*/

.footers{
    p {
        text-align: center;
        padding-top: 40px;
        color: white;
    }
    img{
        width: 30px;
        height: 30px;
    }
    ul {
        text-align: center;
    }
    li {
        display:inline-block ;
        transition: all .5s ease;
        margin: 5px;
        &:hover{
            transform: scale(1.5);
        }
    }
}
