@media screen and (max-width:768px) {
    /*INICIO*/
    

    header {
        .color-nav {
            li { 
                &:hover{
                    transform: scale(0);
                }
            }
        }
    }


    main{
        .secciones-inicio{
            .imagen-principal{
                .contenido-imagen{
                    h3{
                        color: #fff;
                        font-size:5em;
                        margin-top:2.7em;
                    }
                    .link-instalaciones{
                        margin-top: 4em;
                    }
                img{
                    height: 80vh;
                }
            }
        }
    }
        .secciones-secu-inicio{
            h1{
                font-size: 2.5em;
            }
            .imagenes-secundaria {
                img {
                    height: 350px;
                }
                p {
                    margin: .7em;
                }
            }
        }
    }

/*Footers*/

    footer{
        .footers{
            grid-gap: 1.7em;
            .horarios-footers{
                ul{
                    margin: $margin-xs;
                }    
                li{
                    margin: $margin-xs;
                    font-size: .9em;
                }
            }
        }
    }

    /*INSTALACIONES*/

    main{
        .servicios-sector{
            margin: 1em;
            h2 {
                justify-content: center;
            }
            .servicios-contenedor  {
                display: flex;
                flex-direction: column;
                margin: 1em 1em 5em 1em;
                grid-gap: 0em;
                p {
                    display: flex;
                    text-align: center;
                    line-height:$line-height-xs;
                    margin: 1em;
                }
            }
        } 
    }

    /*TORNEOS*/

    main {
        .carousel-inner{
            img{
                height: 81vh;
            }
        }
        .info-sobre-torneo{
            h3{
                font-size: 1.8em;
            }
        }
    }

    /*SOBRE NOSOTROS*/

    main{
        .encabezado-nosotros {
            h3{
                justify-content: center;
                font-size: 1.5em;
            }
            .sobre-nosotros {
                display: flex;
                flex-direction: column;
                grid-gap: 2em;
                ul{
                    justify-content: flex-start;
                    line-height:$line-height-xs;
                    li{
                        margin: 1em;
                        text-align: center;
                    }
                }
                img {
                    height: 400px;
                }
            }
            .mapa-nosotros{
                margin-top:3em;
            }
        }
    }


    /*CONTACTO*/

    main{
        .contenedor-forms{
            .contacto{
                width: 70%;
            }
        }
    }
}



@media screen and (max-width:425px) {
    main {
        .secciones-inicio{
            .imagen-principal{
                .contenido-imagen{
                    h3{
                        font-size:$font-size-xs;
                        margin-top:4.5em;
                        }
                    .link-instalaciones{
                        margin-top:1.7em;
                        a{
                            font-size:.7em;
                            padding: 1em 1.5em 1em 1.5em;
                            font-weight: 500;
                        }
                    }
                }
                img{
                    height: 54vh;
                }
            }
        }
        .secciones-secu-inicio{
            margin:$margin-xs;
                h1{
                    font-size: $font-size-xs;
                    margin-bottom: .5em;
                    }
                .imagenes-secundaria {
                    display: flex;
                    flex-flow: column;
                    grid-gap: 1.5em;
                        img {
                            height: 200px;
                        }
                        p {
                            margin: 1em;
                            font-size: 0.7em;
                        }
                    }
                }
            }
    
    /*Footers*/

    footer{
        .footers{
            grid-template-columns:none;
            grid-gap: 0em;
            .horarios-footers{
                margin:.5em 1em .5em 1em;
                h5{
                    font-size: 1em;
                }
                ul{
                    margin: 1em;
                }    
                li{
                    display: block;
                    margin: 1em;
                    color: white;
                    font-size: 1em;
                    font-weight: $font-weight-m;
                }
            }
            .redes-footers{
                margin: .5em 1em .5em 1em;
                h5{
                    color: white;
                    text-align: center;
                }
                img{
                    width: 30px;
                    height: 30px;
                }
                ul {
                    text-align: center;
                    margin:1em;
                }
                li {
                    display:block ;
                    transition: all .5s ease;
                    margin:1em;
                    &:hover{
                        transform: scale(1.5);
                    }
                }
            }
        }
        p{
            text-align: center;
            font-size: .7em;
            font-weight: 200;
            color: white;
        }
    }

    /*INSTALACIONES*/

    main{
        .instalaciones-sector{
            h2{
                font-size: $font-size-xs;
            }
            .card img {
                height: 300px;
            }
        }
        .servicios-sector {
            h2{
                font-size: 1.8em;
            }
            .servicios-contenedor {
                p {
                    line-height: $line-height-xs;
                }
            }
        }
    }

    /*TORNEOS*/

    main {
        .carousel-inner{
            img{
                height: 60vh;
            }
        }
        .info-sobre-torneo{
            h3{
                font-size: 1.8em;
                text-align: center;
            }
        }
    }


    /*SOBRE NOSOTROS*/

    main{
        .encabezado-nosotros {
            h3{
                justify-content: center;
                font-size: 1.5em;
            }
            .sobre-nosotros {
                grid-gap: 2em;
                ul{
                    justify-content: flex-start;
                    line-height: $line-height-xs;
                    li{
                        margin: .7em;
                        text-align: center;
                    }
                }
                img {
                    height: 300px;
                }
            }
        }
    }
}    